.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30vh 0;
}

.loginBox > div:first-child {
  padding: 1rem;
}

.loginBox > div:first-child > h1 {
  font-size: 2rem;
  font-weight: 700;
}
